@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:wght@200;300;400&display=swap");
:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ebcb48;
  border: 2px solid white;
  border-radius: 25px;
}

.main-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  row-gap: 2rem;
}
@media screen and (min-width: 3000px) {
  .main-container {
    max-width: 80vw;
    margin: 0 auto;
    font-size: 70px;
  }
}

.head {
  grid-column: 1/5;
  grid-row: 1/1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
@media screen and (max-width: 650px) {
  .head {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 3000px) {
  .head img {
    width: 300px;
    height: 300px;
  }
}

.navbar {
  padding: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
@media screen and (min-width: 3000px) {
  .list {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}

.list-unit {
  margin-left: 1rem;
}
@media screen and (max-width: 650px) {
  .list-unit {
    margin: 1rem;
  }
}

a:active,
a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.list a:hover {
  font-size: large;
  text-decoration: underline;
  -webkit-text-decoration-color: #ebcb48;
          text-decoration-color: #ebcb48;
}

#bag-icon {
  position: fixed;
  bottom: 5%;
  right: 2%;
  padding: 0.5rem;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  transition: border 1s;
}
@media screen and (min-width: 3000px) {
  #bag-icon {
    width: 200px;
    height: 200px;
    padding: 2rem;
  }
}

#bag-icon:hover {
  border: 2px solid #ebcb48;
}

.video-container {
  width: 100%;
  grid-column: 1/5;
  grid-row: 2/3;
  border-radius: 20px;
}

.video {
  filter: brightness(0.5);
}

.main-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  grid-column: 1/5;
  grid-row: 2/3;
  z-index: 0;
}

.main-title {
  font-family: "Lato", sans-serif;
  font-size: 300%;
  text-align: center;
  font-weight: 300;
  color: white;
}
@media screen and (max-width: 650px) {
  .main-title {
    font-size: 200%;
  }
}

.arrow {
  margin-top: 2rem;
  -webkit-animation-name: arrowAnim;
          animation-name: arrowAnim;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media screen and (max-width: 650px) {
  .arrow {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 3000px) {
  .arrow {
    width: 300px;
    height: 300px;
  }
}

@-webkit-keyframes arrowAnim {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes arrowAnim {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
.products-main {
  grid-column: 1/5;
  grid-row: 3/5;
  padding: 1rem;
}

.products-main h2 {
  text-align: center;
}

.products-title {
  padding: 1rem;
  width: 90%;
}
@media screen and (min-width: 3000px) {
  .products-title {
    font-size: 100px;
  }
}

#sale,
#dresses,
#accessories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem;
}

.card {
  font-family: "Lato", sans-serif;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  transition: border 2s;
  overflow: hidden;
}
@media screen and (min-width: 3000px) {
  .card {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    font-size: 60px;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: unset;
  padding-bottom: 1rem;
}
@media screen and (min-width: 3000px) {
  .card-body {
    text-align: center;
  }
}

.card-body h5 {
  margin: 1rem;
}
@media screen and (min-width: 3000px) {
  .card-body h5 {
    font-size: 60px;
    margin: 2rem;
  }
}

.card-body img {
  width: 219px;
  height: 300px;
}
@media screen and (min-width: 3000px) {
  .card-body img {
    width: 400px;
    height: 400px;
  }
}

.card:hover {
  border: 2px solid #ebcb48;
}

.cat-title {
  border-bottom: 1px solid #ebcb48;
  padding: 1rem;
}
@media screen and (min-width: 3000px) {
  .cat-title {
    font-size: 100px;
    border-bottom: 5px solid #ebcb48;
  }
}

@media screen and (min-width: 3000px) {
  .card button {
    font-size: 60px;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
  }
}

a:active,
a:link,
a:visited {
  color: black;
  text-decoration: none;
}

#bag {
  grid-column: 2/4;
  grid-row: 5/6;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.036);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media screen and (min-width: 3000px) {
  #bag {
    width: 50vw;
    height: 60vh;
    font-size: 100px;
  }
}

#bag h2 {
  margin: 1rem;
}
@media screen and (min-width: 3000px) {
  #bag h2 {
    font-size: 150px;
  }
}

.list-group-item {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3490196078);
}

.container-total {
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}

#remove-btn {
  margin: 1rem;
}

@media screen and (min-width: 3000px) {
  #bag button {
    width: 200px;
    height: 150px;
    font-size: 50px;
  }
}

.footer {
  grid-column: 1/5;
  grid-row: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(252, 252, 252, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: "Source Sans Pro", sans-serif;
}
@media screen and (min-width: 3000px) {
  .footer {
    margin-top: 4rem;
  }
}

.foot-svg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin: 2rem;
}
@media screen and (max-width: 650px) {
  .foot-svg {
    width: 100%;
    justify-content: space-evenly;
  }
}

.fb-link:hover {
  color: #3b5998;
}

.ig-link:hover {
  color: #833ab4;
}

.tw-link:hover {
  color: #1da1f2;
}/*# sourceMappingURL=products.css.map */