@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:wght@200;300;400&display=swap");
@import "mixins";
@import "variables";

:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ebcb48;
  border: 2px solid white;
  border-radius: 25px;
}

.main-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 2rem;
}

.head {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.349);
  z-index: 1;
  height: min-content;
  grid-column: 1 / 5;
  grid-row: 0 / 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.svg-head {
  padding: 1rem;
}

.video-container {
  width: 100%;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  border-radius: 20px;
}

.video {
  filter: brightness(0.5);
}

.main-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  z-index: 0;
}

.main-title {
  font-family: $primary-font;
  font-size: 300%;
  text-align: center;
  font-weight: 300;
  color: white;
}

.arrow {
  margin-top: 2rem;
  animation-name: arrowAnim;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes arrowAnim {
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

.products-main {
  grid-column: 1 / 5;
  grid-row: 3 / 5;
  padding: 1rem;
}

.products-main h2 {
  text-align: center;
}

.products-title {
  padding: 1rem;
  width: 90%;
  border-bottom: 1px solid #ebcb48;
}

#sale,
#dresses,
#accessories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.card {
  font-family: $primary-font;
  overflow: hidden;
  width: max-content;
  height: 50%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: border 2s;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card h5 {
  margin: 1rem;
}

.card:hover {
  border-color: #ebcb48;
}

#search-field {
  display: none;
}

a:active,
a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.footer {
  grid-column: 1 / 5;
  grid-row: 5 / 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(252, 252, 252, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: $secondary-font;
}

.foot-svg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin: 2rem;
  @media screen and (max-width: $small) {
    width: 100%;
    justify-content: space-evenly;
  }
}

.fb-link:hover {
  color: #3b5998;
}

.ig-link:hover {
  color: #833ab4;
}

.tw-link:hover {
  color: #1da1f2;
}

.bag {
  display: none;
}
