@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:wght@200;300;400&display=swap");
:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ebcb48;
  border: 2px solid white;
  border-radius: 25px;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  row-gap: 2rem;
}
@media screen and (min-width: 3000px) {
  .main-container {
    max-width: 80vw;
    margin: 0 auto;
    font-size: 70px;
    row-gap: 4rem;
  }
}

.header {
  grid-column: 1/4;
  grid-row: 1/1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem;
}
@media screen and (max-width: 650px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 3000px) {
  .header img {
    width: 300px;
    height: 300px;
  }
}

.navbar {
  padding: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
@media screen and (min-width: 3000px) {
  .list {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}

.list-unit {
  margin-left: 1rem;
}
@media screen and (max-width: 650px) {
  .list-unit {
    margin: 1rem;
  }
}

a:active,
a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  font-size: large;
  text-decoration: underline;
  -webkit-text-decoration-color: #ebcb48;
          text-decoration-color: #ebcb48;
}

.carousel {
  grid-column: 1/4;
  grid-row: 2/4;
  padding: 1rem;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.products {
  grid-column: 1/4;
  grid-row: 4/6;
  background: rgba(0, 0, 0, 0.077);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}
@media screen and (min-width: 3000px) {
  .products {
    height: 1000px;
  }
}

.products div {
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: white;
  border-radius: 20px;
}
@media screen and (max-width: 650px) {
  .products div {
    font-size: 20px;
    font-weight: 400;
  }
}
@media screen and (max-width: 800px) {
  .products div {
    font-size: 18px;
  }
}
@media screen and (min-width: 3000px) {
  .products div {
    height: 50%;
    font-size: 100px;
  }
}

.sale {
  background-image: url(../img/sale.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: local;
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.583);
  height: 40%;
  transition-property: height;
  transition-duration: 2s;
}

.sale:hover {
  height: 80%;
}

.dress {
  background-image: url(../img/dress.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: local;
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.583);
  height: 40%;
  transition-property: height;
  transition-duration: 2s;
}

.dress:hover {
  height: 80%;
}

.accesories {
  background-image: url(../img/accesories.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: local;
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.583);
  height: 40%;
  transition-property: height;
  transition-duration: 2s;
}

.accesories:hover {
  height: 80%;
}

.arrow-sale,
.arrow-dress,
.arrow-acc {
  display: none;
}

.maps {
  grid-column: 2/3;
  grid-row: 6/7;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  font-family: "Lato", sans-serif;
}

.maps h2 {
  margin: 1rem;
}
@media screen and (min-width: 3000px) {
  .maps h2 {
    font-size: 100px;
    margin: 2rem;
  }
}

#map {
  height: 300px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
@media screen and (min-width: 3000px) {
  #map {
    width: 50vw;
    height: 50vh;
  }
}

.newslatter {
  grid-column: 2/3;
  grid-row: 7/8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin: 3rem;
  background: rgba(0, 0, 0, 0.036);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media screen and (min-width: 3000px) {
  .newslatter {
    padding: 1rem;
    height: 50vh;
    font-size: 100px;
    row-gap: 3rem;
  }
}

.newslatter h2 {
  font-family: "Lato", sans-serif;
}
@media screen and (min-width: 3000px) {
  .newslatter h2 {
    font-size: 100px;
  }
}

.label-form {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 1rem;
}
@media screen and (min-width: 3000px) {
  .label-form {
    font-size: 70px;
  }
}

@media screen and (min-width: 3000px) {
  .newslatter button {
    font-size: 50px;
    padding: 3rem;
  }
}

#email-field {
  font-family: "Source Sans Pro", sans-serif;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.5rem;
  text-align: center;
}

.footer {
  grid-column: 1/4;
  grid-row: 8/9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(252, 252, 252, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: "Source Sans Pro", sans-serif;
}

.foot-svg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin: 2rem;
}
@media screen and (max-width: 650px) {
  .foot-svg {
    width: 100%;
    justify-content: space-evenly;
  }
}

.fb-link:hover {
  color: #3b5998;
}

.ig-link:hover {
  color: #833ab4;
}

.tw-link:hover {
  color: #1da1f2;
}

.surprise {
  opacity: 0;
  transition: all 2s;
  font-weight: 700;
}

.surprise:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */